version: '3.9'
services:
  postgres:
    image: postgres:latest
    container_name: postgres
    hostname: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=claim
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
  trust-claim-backend:
    stdin_open: true
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: trust-claim-backend
    depends_on:
      - postgres
    ports:
      - 9000:9000
    volumes:
      - ./build:/app/build
    restart: always

volumes:
  postgres-data: